/*Selector {
	property: value ;
}*/ 
 
body {
	background-color: #FFFDFD;
}

h2 {
	font-family: fantasy ; 
	font-size: 50px; 
	font-style: italic ;
	border-bottom: 2px solid pink;  
}
.continer {
	display: flex;
	flex-wrap:wrap ;
	justify-content: center; 
}
img {
	width: 50%; 
	height: 50%; 
}
li {
	list-style: none;
	display: inline-block;
}